# Recommender systems:

Almost all of our decisions are based on recommendations wthat we see or hear. With the onset of digitalisation, companies are free from the the constraint of storage. For example , a shopkeeper has to initially keep balanced amounts of each item in the racks.Later on does he get to know the trend. Also the number of items is limited to the size of the rack. This is not the case in the current scenario. The vendor just needs to post the information of the said itwm on the internet. As the the customer, the vendor produces the items the customer only needs. <br>Now instead of showcasing all his producs, it is better for the showkeepr to showcase only those products based on customer's interest. That is where recommender systems come into play.

## Types of Recommender systems:
There aremainly two types of recommender systems:
1. Content based recommender system
2. Collaborative based filtering system
<br>

Now the former gives recommendations based on the similarity of the content that isliked bythe user. Say Iwatch cricketvideos,then it will not recommend music, instead it gives cricket vidoes as recommendation. The latter creates recommendations based on similarity of two users. Say two users A and B have a similarity of 0.9, and say A has watched a movie which he/she liked, The the system recommends the samemovie to B, based on the fact that they have similar characters. This is the way Amaon recommends stuff. For example you buy bread from amaon groceries, amazon will recommend butteror jam or chocolate spread, cos thatis what other people do. Hope you understood about the different recommender systems.

In [1]:
# import the modules

import numpy as np
import pandas as pd

In [2]:
songs = pd.read_csv('spotify_tracks.csv')

In [3]:
songs.drop(columns=["duration_ms","id"], inplace=True)

In [4]:
# Adding a normal index column starting from 1
songs['Index'] = range(1, len(songs) + 1)

# Optionally, move the 'Index' column to the front
songs = songs[['Index'] + [col for col in songs.columns if col != 'Index']]

In [5]:
songs.isnull()

      Index   name  genre  artists  album  popularity  explicit
0     False  False  False    False  False       False     False
1     False  False  False    False  False       False     False
2     False  False  False    False  False       False     False
3     False  False  False    False  False       False     False
4     False  False  False    False  False       False     False
...     ...    ...    ...      ...    ...         ...       ...
6295  False  False  False    False  False       False     False
6296  False  False  False    False  False       False     False
6297  False  False  False    False  False       False     False
6298  False  False  False    False  False       False     False
6299  False  False  False    False  False       False     False

[6300 rows x 7 columns]

In [6]:
songs.duplicated().sum()

0

In [7]:
songs["artist"]= songs["artists"]

In [8]:
"""Now what i will be doing is create a list of keywords.The keywords will contain artists' name, along with album and the genre. 
One thing i observed that there may be more than one artist per song,so first i will convert the artists column which will 
contain a list of artist names."""

#then later on i will append the genre and album to the above created list

def artist_to_list(string):
    return string.split(",")

def append_the_string(row):
    row['artists'].append(row['genre'])
    row['artists'].append(row['album'])
    return row['artists']

In [9]:
songs["artists"] = songs["artists"].apply(artist_to_list)

Now what i will be doing is create a list of keywords.The keywords will contain artists' name, along with album and the genre. One thing i observed that there may be more than one artist per song sofirst i will  convert the artists column which will contain a list of artist names.

In [10]:
songs["artists"] = songs.apply(append_the_string, axis=1)

In [11]:
songs["genre"] =songs["genre"]+songs["album"]
songs.drop(columns=["album"], inplace=True)

In [12]:
songs.drop(columns=["genre"],inplace= True)

In [13]:
songs["artists"] = songs["artists"].apply(lambda x:[i.replace(" ","") for i in x])
# removed the spacesfrom the keywords. Why?
# say we have artist Ashwin S and Ashwin M. due to space we have keywords "Ashwin","S" and "M". 
# Now we want songs from Ashwin S, but it will start recommending from artist Ashwin M. Hence we remove the space.

In [14]:
songs.rename(columns={"artists":"tags"} ,inplace=True)

In [15]:
def is_explicit(row):
    if row["explicit"]:
        row["tags"].append("explicit")
    else:
        row["tags"].append("notexplicit")
    return row["tags"]

In [16]:
songs["tags"] = songs.apply(is_explicit, axis =1)

In [17]:
songs.drop(columns="explicit" , inplace=True)

In [18]:
songs["tags"] = songs["tags"].apply(lambda x:" ".join(x))
songs["tags"] = songs["tags"].apply(lambda x: x.lower())

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features =2500, stop_words="english")

In [20]:
vectors = cv.fit_transform(songs["tags"]).toarray()

In [21]:
#cv.get_feature_names_out()[1:100]

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [41]:
def recommend(song, artist="None"):
    index = songs.index[songs["name"] == song].tolist()[0]
    distances = similarity[index]
    recommended_songs = sorted(list(enumerate(distances)),reverse = True, key=lambda x:x[1])[1:6]
    for i in recommended_songs:
        print (songs.iloc[i[0]-1]["name"])

In [42]:
recommend("Pieces")

numb
UnLonely
Finally Over
New Summers
New Yearâ€™s Day